//responsive breakpoints
$mobile-portrait: 360px;
$mobile-portrait-large: 480px;
$mobile-landscape: 540px;
$huge-mobile-landscape: 620px;
$tablet-portrait-small: 768px;
$tablet-portrait: 850px;
$tablet-landscape: 1025px;
$desktop: 1200px;
$desktop-large: 1400px;
$desktop-huge: 1600px;
$desktop-hd: 1850px;

//box shadow
$box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.1);
$box-shadow-mid: 1px 1px 6px 0 rgba(0, 0, 0, 0.15);
$box-shadow-darker: 1px 1px 6px 0 rgba(78, 78, 78, 0.5);
